<div class="container">
  <div class="row titulo">
    <div class="col-md-12 padding2rem">
      <h1 class="titulo">
        Arthur Silva Dev.
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img src="../assets/img/img02.jpeg" class="rounded-circle img-pessoal">
    </div>
    <div class="col-md-6">
      <p>Mais um pouco sobre mim...</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Skills</p>
    </div>
    <div class="col-md-6">
      <p>Certificações</p>
    </div>
  </div>
</div>
